<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>combobox</title>
    <link rel="stylesheet" href="../css/components/combobox.css">
</head>
<body>
    <div class="m-combobox">
        <input type="text" name="roles" hidden>
        <div class="input-wrapper">
            <div class="tag-container">
                <input type="text" class="search-input" placeholder="Search...">
            </div>
            <div class="dropdown"><img class="icon" src="/assets/icon/btn-next-page.svg" alt=""></div>
        </div>
        <div class="options-container">
            <label><input type="checkbox" value="Nhân viên" class="select-all">Chọn tất cả</label>
            <label><input type="checkbox" value="Nhân viên">Nhân viên</label>
            <label><input type="checkbox" value="Trưởng phòng">Trưởng phòng</label>
            <label><input type="checkbox" value="Giám đốc">Giám đốc</label>
            <label><input type="checkbox" value="Chủ tich">Chủ tich</label>
            <label><input type="checkbox" value="Dev">Dev</label>
            <label><input type="checkbox" value="Kế toán">Kế toán</label>
        </div>
    </div>
    <div class="m-combobox">
        <input type="text" name="roles" hidden>
        <div class="input-wrapper">
            <div class="tag-container">
                <input type="text" class="search-input" placeholder="Search...">
            </div>
            <div class="dropdown"><img class="icon" src="/assets/icon/btn-next-page.svg" alt=""></div>
        </div>
        <div class="options-container">
            <label><input type="checkbox" value="Nhân viên" class="select-all">Chọn tất cả</label>
            <label><input type="checkbox" value="Nhân viên">Nhân viên</label>
            <label><input type="checkbox" value="Trưởng phòng">Trưởng phòng</label>
            <label><input type="checkbox" value="Giám đốc">Giám đốc</label>
            <label><input type="checkbox" value="Chủ tich">Chủ tich</label>
            <label><input type="checkbox" value="Dev">Dev</label>
            <label><input type="checkbox" value="Kế toán">Kế toán</label>
        </div>
    </div>
    <script src="/js/components/combobox.js"></script>
</body>
</html>